<h1>About CRM Global</h1>

<p>History</p>
<p>In 2003 Grant Inc. and The Roswell Group came together to form CRM Global. With the face of technology changing day by day, an international customer relationship manangement platform only makes sense.</p>