<!--index file for CRM-->

<h1>Welcome to <%= @crm_app_name%>!</h1>
<p>Main Menu</p>
<ul>
  <li><a href="/contacts">View All Contacts</a></li>
  <li><a href="/contacts/new">Add New Contact</a></li>
  <!-- I forgot how to write comments in html file. Good refreasher... -->
</ul>