<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h1>Typical Header From Layout.erb (template file)!</h1>
<ul>
  <li class="menu1">Home</li>
  <li class="menu2">About</li>
  <li class="menu3">Contacts</li>
  <li class="menu4">Add New Contact</li>
</ul>
  <%= yield %>

<footer><p>Here's our template footer: Enjoy! :P</p></footer>
</body>
</html>