<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type = "text/css" href="/style.css">
</head>
<body>
<h1 class ="template_h1">Typical Header From Layout.erb (template file)!</h1>
<ul>
  <li class="menu1"><a href="http://localhost:4567/home">Home</a></li>
  <li class="menu2"><a href="http://localhost:4567/home">About</a></li>
  <li class="menu3"><a href="http://localhost:4567/contacts">Contacts</a></li>
  <li class="menu4"><a href="http://localhost:4567/contacts/new">Add New Contact</a></li>
</ul>
  <%= yield %>

<footer><p>Here's our template footer: Enjoy! :P</p></footer>
</body>
</html>