<h1>Requested Contact</h1>


<ul>
 <% #$rolodex.contacts.find{|contact| contact.id == 1001} %>
  <li>
    <%= "First name: #{@requested_contact.first_name}<br>Last name: #{@requested_contact.last_name}</br>Email: #{@requested_contact.email}<br>Notes: #{@requested_contact.notes}</br>I.D.: #{@requested_contact.id}" %>
  </li>
    <%#end%>
</ul>