<h1>Requested Contact</h1>


<ul>
   <% #$rolodex.contacts.find{|contact| contact.id == 1001} %>
  <li>
    <%= "First name: #{request_contact.first_name}<br>Last name: #{request_contact.last_name}</br>Email: #{request_contact.email}<br>Notes: #{request_contact.notes}</br>I.D.: #{request_contact.id}" %>
  </li>
    <%end%>
</ul>