
body, html {
  background-color: white;
  margin: 0;
}

.div_header {
  border: solid;
  float: left;
  width: 25%;
}

.header_img {
  margin: 0;
  padding: 0;
  border-width: 0;
  float: left;
  height: 200px;
}

.template_header {
  background-color: black;
  width: 100px;
  height: 50px;
  color: red;
  display: inline;
  font-family: Arial,'Rock Salt', cursive;
  /*font-size: 50px;*/
  padding: 0;
  margin: 0;
  border: solid;

}

nav {
  background-color: blue;
  margin-left: 25%;
  text-align: center;

}

a.menu {
  color: orange;
  text-decoration: none;
  font-family: Arial;
  font-style: italic;
  font-size: 18px;
  margin: 0;
}

.yield {
  margin-left: 5px;
}

footer {
  border-style: solid;
  float: bottom;
}